h1{
    max-width: 500px;
    margin-top: 80px;
    margin-right: 150px;
    margin-left: 600px;
}
#change-color-btn{
    background-color: transparent(75, 98, 160);
    width: 10%;
    height: 50px;
}